extends master

block home-navbar-element
    li.active: a(href="/") Home

block main-content
    .hero-unit(data-disabled=!status.up)
        h1.text-center The server is 
            if status.up
                span#enabled-status.text-success ENABLED
            else
                span#enabled-status.text-error DISABLED
        h1.text-center#population-text and there are 
            span#population-details(data-population=status.population, data-capacity=status.capacity)
            span  people online
    .row
        .span4
            .well#timeblob
                h2.text-center It is currently
                h1.text-center#time-description(class="#{ status.time.localeCompare('DAY') === 0 ? 'text-success' : 'text-warning' }")= status.time
                h3.text-center#sleep-data(data-sleeping=status.sleeping, data-population=status.population) people are sleeping
        .span4
            .well#listblob
                h2.text-center Players online:
                h3.text-center
                    ul.unstyled#playerlist
                        for player in status.players
                            li= player
        .span4
            h2 Easy Config
            p  We use GregTech easy mode and the Advanced Solar Panels easy recipes.  Download the entire config 
                a(href="/config.zip",download="mathphreak-ftb-server-config.zip") here
                .

block extra-modals
    mixin modal(id="showhash",title="Your Current Hash",body="There isn't one!")